<section class="container">
  <div class="main-left">
    <form class="form" (ngSubmit)="onSubmit()">
      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->

      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="patientdetails">
          <div class="form-group">
            <label for=""> Job Title </label>
            <input
              class="form-input"
              formControlName="position"
              type="text"
              placeholder=""
            />
           
          </div>

          <div class="form-group">
            <label for=""> Application Link or Email </label>
            <input
              class="form-input"
              formControlName="position"
              type="email"
              placeholder=""
            />
          </div>

        
          <p>Tell us More about your Company</p>
          <div class="form-group">
            <label for=""> Company Name </label>
            <input
              class="form-input"
              formControlName="position"
              type="text"
              placeholder=""
            />
          </div>
        </mat-step>
        <mat-step [stepControl]="other" label="Fill out your address">
          <div class="form-group">
            <label for=""> Job Title </label>
            <input
              class="form-input"
              formControlName="position"
              type="text"
              placeholder=""
            />
            <span class="text-small">
              Example: “Senior Designer”. Titles must describe one position.
            </span>
          </div>

          <div class="form-group">
            <label for=""> Application Link or Email </label>
            <input
              class="form-input"
              formControlName="position"
              type="email"
              placeholder=""
            />
          </div>

          <p>Tell us More about your Company</p>
          <div class="form-group">
            <label for=""> Company Name </label>
            <input
              class="form-input"
              formControlName="position"
              type="text"
              placeholder=""
            />
          </div>
        </mat-step>

        

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>

      <div class="">
        <button class="btn btn-default">Post job</button>
      </div>
    </form>
  </div>
</section>
