<section class="container">
  <form class="form" (ngSubmit)="onSubmit()">
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->

    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="patientdetails" label="Patient Details">
        <form>
          <div class="" id="patient-details">
            <div class="colo-2-in-1">
              <div class="form-group">
                <select id="cars" class="form-select" name="Patient Title">
                  <option value="">Mr</option>
                  <option value="">Mrs</option>
                  <option value="">Other</option>
                </select>
              </div>

              <div class="form-group">
                <input
                  class="form-input"
                  type="text"
                  placeholder="Patient Surname"
                />
              </div>
            </div>

            <div class="colo-2-in-1">
              <div class="form-group">
                <input
                  class="form-input"
                  type="text"
                  placeholder="Patient First Name"
                />
              </div>

              <div class="form-group">
                <input
                  class="form-input"
                  type="text"
                  placeholder="Patient Midle Name"
                />
              </div>
            </div>

            <div class="colo-2-in-1">
              <div class="form-group">
                <input
                  class="form-input"
                  type="text"
                  placeholder="Patient Phone Number"
                />
              </div>

              <div class="form-group">
                <input
                  class="form-input"
                  type="text"
                  placeholder="Patient Email"
                />
              </div>
            </div>

            <div class="colo-2-in-1">
              <div class="form-group">
                <select id="cars" class="form-select" name="Gender">
                  <option value="">Male</option>
                  <option value="">Female</option>
                </select>
              </div>

              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="other" label="Other">
        <div class="" id="patient-details">
          <div class="colo-2-in-1">
            <div class="form-group">
              <select id="cars" class="form-select" name="Patient Title">
                <option value="">Mr</option>
                <option value="">Mrs</option>
                <option value="">Other</option>
              </select>
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Surname"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient First Name"
              />
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Midle Name"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Phone Number"
              />
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Email"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <select id="cars" class="form-select" name="Gender">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>

            <div class="form-group"></div>
          </div>

          <div class="form-group">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="other" label="Next of kin">
        <div class="" id="patient-details">
          <div class="colo-2-in-1">
          

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Full Name"
              />
            </div>

          
            <div class="form-group">
              <select id="cars" class="form-select" name="Relationship">
                <option value="">Wife </option>
                <option value="">Child </option>
                <option value="">Wife </option>
               
              </select>
            </div>

          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Phone Number"
              />
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Midle Name"
              />
            </div>
          </div>

       
          <div class="colo-2-in-1">
            <div class="form-group">
              <select id="cars" class="form-select" name="Gender">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="hmo" label="hmo">
        <div class="" id="patient-details">
          <div class="colo-2-in-1">
            <div class="form-group">
              <select id="cars" class="form-select" name="Patient Title">
                <option value="">Mr</option>
                <option value="">Mrs</option>
                <option value="">Other</option>
              </select>
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Surname"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient First Name"
              />
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Midle Name"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Phone Number"
              />
            </div>

            <div class="form-group">
              <input
                class="form-input"
                type="text"
                placeholder="Patient Email"
              />
            </div>
          </div>

          <div class="colo-2-in-1">
            <div class="form-group">
              <select id="cars" class="form-select" name="Gender">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>
          </div>

          <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </mat-step>
    </mat-stepper>

    <div class="">
      <button class="btn btn-default">Continue</button>
    </div>
  </form>
</section>

<!-- 
 -->
