.container {
  width: 71.25rem;
  margin: 0 auto;
  box-sizing: border-box;
  // background: rgb(156, 127, 98);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

.form {
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  outline: none;
  width: 100%;
}

.form-group {
  margin: 1.2rem 0;
  width: 45%;
}

.form-input,
.form-select {
  padding: 0.7rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid rgb(219, 217, 217);
  width: 100%;
  background-color: white;
}

.form-select option {
  font-size: 1.2rem;
}

#patient-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colo-2-in-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.form-select option {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.8rem;
}

mat-horizontal-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

textarea:focus {
  border: 1px solid rgb(204, 196, 196);
}

mat-form-field {
  width: 100%;
}

#stepper label {
  text-transform: uppercase;
}

.btn {
  border: none;
  padding: 1.2rem 2.3rem;
  color: white;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  // text-align: right;
}

.btn-cta{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.btn-default {
  background: #2C61E4;;
  // background: rgba(68, 119, 247, 0.25);
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    max-width: 20rem;
  }

  .form {
    overflow: hidden;
    display: flex;
  }

  .form-input {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
}
