.left-side {
  // width: 39.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  // border: 1px solid black;
}

.signup-container {
  display: flex;
  min-height: 100vh;
}

// .image-container {}

.image-container img {
  border-radius: 100%;
}

.form {
  border-radius: 5px;
  padding: 3rem;
}

.is-invalid {
  color: red;
}

.invalid-feedback {
  color: red;
}

h3 {
  // font-size: 1.4rem;
  width: 411px;
  height: 120px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #102352;
}

label {
  font-weight: 400;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.form-group {
  margin: 1.2rem 0;
  display: flex;
  flex-direction: column;
}

.form-group.terms {
  display: flex;
  flex-direction: row;
  padding: 0 3px;

  p {
    padding-left: 6px;
    font-size: 15px;

    a {
      text-decoration: none;
      color: dodgerblue;
    }
  }
}

.form-input {
  height: 40px;
  background: #ffffff;
  border: 0.6px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.1rem;
  padding-left: 0.4rem;
  font-weight: 100;
  font-family: inherit;
}

.form-input:focus {
  outline: blue;
  border: 1.4px solid dodgerblue;
}

.btn {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: normal;
  font-family: inherit;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  background: rgb(20, 26, 26);
  margin-bottom: 1rem;
}

.btn-blue {
  background: #2c61e4;
}

.border-line {
  width: 70%;
  border: 1px solid rgb(229, 229, 241);
}

.btn-group {
  margin-bottom: 0.8rem;
  width: 100%;
}

.btn-default {
  color: white;
  border: 1px solid rgb(240, 234, 234);
  background: whitesmoke;
  color: rgb(92, 88, 88);
}

.btn-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid black;
  // width: 100%;

  span {
    font-size: 15px;
    // border: 1px solid black;
  }

  a {
    color: dodgerblue;
    font-weight: 400;
    text-decoration: none;
  }
}

.invalid-feedback {
  color: rgb(233, 47, 47);
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 1rem;
  }

  .form {
    width: 17rem;
    padding: 2rem;
  }

  .signup-container {
    flex-direction: column;

    // width: 60%;
    width: 100%;
  }

  .left-side {
    // max-width: 100%;
    display: none;
  }
}
