<mat-drawer-container class="dashboard-container" autosize>
  <mat-drawer #drawer class="dashboard-sidenav" mode="side" opened>
    <div class="sidebar-wrapper">
      <div class="header">
        <p>Logo</p>

        <nav class="navigation">
          <button class="btn btn-blue-light">
            <a routerLink="patient-details"> Patient Register </a>
          </button>
          <button class="btn btn-blue-light">
            <a routerLink="register-patient"> Patient List </a>
          </button>
        </nav>
      </div>


      <div class="footer">
        <p class="username-tag">Jordan Peterson</p>
        <!-- <hr /> -->
        <button (click)="logout()" class="btn btn-blue-light">Logout</button>
      </div>
    </div>
  </mat-drawer>

  <div class="dashboard-sidenav-content">
    <div class="search-container">
      <input
        class="form-input"
        type="text"
        placeholder="Search for patient name...."
      />
      <i class=""> <mat-icon> fiber_manual_record </mat-icon> </i>
    </div>

    <div class="profile-image-container">
      <img [src]="userProfile" class="user-image" alt="profile image" />
    </div>
  </div>

  <div class="main-body">
    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</mat-drawer-container>
