.dashboard-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.dashboard-sidenav {
  width: 250px;
  background: #06207a;
  color: #fff;
}

.logo {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
}

.logo-image {
  height: 20px;
  background-size: cover;
}

.menu-title {
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  // border: 1px solid brown;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
}



.nav-link {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}

.dashboard-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.form-input {
  padding: 1rem;
  width: 500px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: 3rem;
  border: 1px solid rgb(207, 205, 205);
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.main-body {
  width: 100%;
}

.image-container {
  border-radius: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.4rem;
  border: 1px solid blue;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container mat-icon{
  position: absolute;
  top: 10px;
  right: 5px;
  color: dodgerblue;

}

.user-image {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.main-left {
  background-color: rgb(232, 243, 243);
  color: black;
}

.main-right {
  background-color: rgb(235, 235, 235);
  color: black;
}

.user-title {
  font-weight: normal;
}

.mat-grid-tile {
  background: lightblue;
}
