.container {
  margin: 0 auto;
}

h2 {
  margin: 2rem 5rem;
  font-size: 2rem;
}

table {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: none;
  background: #fff;
  margin-bottom: 1rem;
}

table td {
  padding: 0.6rem;
  border-bottom: 1px solid rgb(247, 243, 243);
  padding: 0 2rem;
}

mat-header-cell {
  border: 1px solid black;
}

#profileImage {
  max-width: 50px;
  border-radius: 100px;
}
